---
---

@import "{{ site.theme }}";

.current {
    color: green;
  }

p a:hover, p a:focus {
  color:rgb(0, 170, 255);
  // font-weight: bold;
  font-weight: normal;
}

body {
  background-color: #fff;
  padding:50px;
  // font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}